<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style media="screen">
      .form-inline {
        border: 1px solid grey;
        border-radius: 5px;
        background-color: #d9d9db;
      }
      .col-lg-3, .col-md-4, .col-xs-6 {
        border: 2px solid grey;
        border-radius: 5px;
      }

      .artName {
        text-align: center;
        font-weight: bold;
      }

      .about_file {
        padding-bottom: 10px;
      }
    </style>
    <title>Admin Page</title>
  </head>
  <body>
    <div class="container">
      <%= link_to 'Admin management', management_admins_path, class: 'btn btn-info' %>
      <%= link_to 'Add a new admin', new_users_path, class: 'btn btn-info' %><br>

      <datalist id='types'>
        <option  value='Drawing'>
        <option  value='Painting'>
        <option  value='Printmaking'>
      </datalist><br>

        <%= form_for @artpiece do |form| %>
          <h3>Add Picture</h3>
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, required: 'true' %><br>
          </div>
          <div class="form-group">
            <%= form.label :type_of_art %>
            <%= form.text_field :type_of_art, list: 'types', required: 'true' %><br>
          </div>
          <div class="form-group">
            <%= form.label :image %>
            <%= form.file_field :image, class: 'upload' %>
          </div>
          <div class="form-group">
            <%= form.label :year %>
            <%= form.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), selected: Time.zone.now.year %>
          </div>
          <%= form.button :submit, value: 'Upload Art Piece', class:"btn btn-default" %>
        <% end %><br>


      <div class="row">
        <% @artTypes.each do |artType| %>
          <div class="col-lg-4 col-md-4 col-s-4 col-xs-4">
            <div class='artName'>
              <% if artType.size > 0 %>
                <%= artType.first.type_of_art %>
              <% end %>
            </div>

            <% artType.each do |artpiece| %>
              <div class='art'>
                <%= artpiece.title %><br>
                <%= image_tag artpiece.image.url(:thumb), class: 'image' %>
                <%= link_to 'update', edit_artpieces_path(id: artpiece.id), class: 'button' %>
                <%= link_to 'delete', artpieces_path(id: artpiece.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'button' %>
              </div>
              <%= form_tag(update_homepage_picture_artpieces_path, method: 'post') do %>
                <%= hidden_field_tag :id, artpiece.id %>
                <%= button_tag 'make homepage pic', id:'homepage picture', class:'btn btn-primary btn-sm' %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class='about_file'>
        <% if @abouts.size > 0 %>
        <a href="/abouts/<%= @about.id %>/edit">Update About file</a>
        <% else %>
        <%= form_for @about do |form| %>
        <h3>Create About File</h3>
        <div class='form-group'>
          <%= form.label :content %>
          <%= form.text_area :content %>
        </div>
        <%= form.button :submit, value:'Create About file', class: 'btn btn-default' %>
        <% end %>
        <% end %>
      </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
