<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
    manage your page

    <datalist id='types'>
      <option  value='Drawing'>
      <option  value='Painting'>
      <option  value='Printmaking'>
    </datalist>

    <div class='uploading_form'>
      <%= form_for @artpiece do |form| %>
        <%= form.label :title %>
        <%= form.text_field :title, required: 'true' %>
        <%= form.label :type_of_art %>
        <%= form.text_field :type_of_art, list: 'types', required: 'true' %>
        <%= form.label :image %>
        <%= form.file_field :image %>
        <%= form.button :submit, value: 'Upload Art Piece' %>
      <% end %>
    </div>

    <div class= 'artpieces'>
        <% @artTypes.each do |artType| %>
          <% artType.each do |artpiece| %>
            <div class='art'>
              <%= artpiece.title %><br>
              <%= image_tag artpiece.image.url(:thumb), class: 'image' %>
              <%= link_to 'delete', artpieces_path(id: artpiece.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'button' %>
            </div>
          <% end %>
        <% end %>
    </div>

  </body>
</html>
