<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Beau Rouse</title>
    <style media="screen">

    .img-responsive {
      margin:auto;
    }

    .sidebar-nav {
      list-style: none;
    }

    button {
     background:none;
     border:none;
     padding:0;
     cursor: pointer;
     font-size: 10px;
    }

    button:hover {
      border-bottom:1px solid #444;
    }

    .artistname {
      font-size: 12px;
      font-weight: bold;
    }

    .art_title {
      text-align: center;
      background-color: #f9f4e5;
    }

    .about {
      background:none;
      border:none;
      padding:0;
      cursor: pointer;
      font-size: 10px;
      color: #444;
    }

    .about:hover {
      color: #444;
    }

    .cont {
      width: 100% !important;
      margin-top: 10px;
      margin-left: 0px;
    }

    </style>

  </head>
  <body>

    <div class="cont" style="float: left;">
      <div class="row">

        <div class="col-md-1 col-sm-4 col-xs-4">
          <div class="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li><button class="artistname">Beau Rouse</button></li>
              <li><button  class="paintings">Paintings</button></li>
              <li><button  class="drawings">Drawings</button></li>
              <li><button  class="printmakings">Printmaking</button></li>
              <li><a href='/abouts' class="about">About</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-11 col-sm-8 col-xs-8">
          <div class="artpieces" id="artistname">
            <% if @homepage_picture != nil %>
              <%= image_tag @homepage_picture.image.url, class: "img-responsive" %>
            <% end %>
          </div>

          <div class="artpieces" id="paintings" style="display:none">
            <% @paintings.each do |painting| %>
              <%= image_tag painting.image.url, class: 'img-responsive' %>
              <p class="art_title"><%= painting.title %></p>
            <% end %>
          </div>

          <div class="artpieces" id="drawings" style="display:none">
            <% @drawings.each do |drawing| %>
              <%= image_tag drawing.image.url, class: 'img-responsive' %>
              <p class="art_title"><%= drawing.title %></p>
            <% end %>
          </div>

          <div class="artpieces" id="printmakings" style="display:none">
            <% @printmakings.each do |printmaking| %>
              <%= image_tag printmaking.image.url, class: 'img-responsive' %>
              <p class="art_title"><%= printmaking.title %></p>
            <% end %>
          </div>
        </div>

      </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    <script>
      var buttonClass;
      $(document).ready(function() {
        $("button").click(function() {
          $(".artpieces").hide(1000);
          buttonClass = $(this).attr("class");
          $("#" + buttonClass).show(1100);
        });
      });
    </script>
  </body>
</html>
