<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Beau Rouse</title>
    <style media="screen">

    .img-responsive {
      margin:auto;
    }

    .sidebar-nav {
      list-style: none;
    }

    button {
     background:none;
     border:none;
     padding:0;
     cursor: pointer;
     font-size: 10px;
    }

    button:hover {
      border-bottom:1px solid #444;
    }

    .artistname {
      font-size: 12px;
      font-weight: bold;
    }

    .art_title {
      text-align: center;
      background-color: #f9f4e5;
    }

    .about {
      background:none;
      border:none;
      padding:0;
      cursor: pointer;
      font-size: 10px;
      color: #444;
    }

    .about:hover {
      color: #444;
    }

    .cont {
      width: 100% !important;
      margin-top: 10px;
      margin-left: 0px;
    }

    .carousel-indicators {
      color: grey;
      opacity: 0.5;

      border: 1px solid grey;
      border-radius: 5px;
    }

    </style>

  </head>
  <body>

    <div class="cont" style="float: left;">
      <div class="row">

        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
          <div class="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li><button class="artistname">Beau Rouse</button></li>
              <li><button  class="Painting">Paintings</button></li>
              <li><button  class="Drawing">Drawings</button></li>
              <li><button  class="Printmaking">Printmaking</button></li>
              <li><a href='/abouts' class="about">About</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">

          <div class="artpieces" id="artistname">
            <% if @homepage_picture != nil %>
              <%= image_tag @homepage_picture.image.url, class: "img-responsive", id:"#{@homepage_picture.title}", type:"#{@homepage_picture.type_of_art}" %>
            <% end %>
          </div>

          <% @artTypes.each do |artType|%>
            <div class='artpieces' id="<%= artType.first.type_of_art%>" style="display:none" >
              <% artType.each do |piece_of_art| %>
                <%= image_tag piece_of_art.image.url, class: 'img-responsive', id:piece_of_art.title.gsub(/\s+/, ''), type:piece_of_art.type_of_art %>
                <p class="art_title"><%= piece_of_art.title %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <% @artTypes.each do |artType| %>
      <div class="container" id="container<%= artType.first.type_of_art %>" style="display:none">
        <div id="Carousel<%= artType.first.type_of_art %>" class="carousel" data-ride="carousel" data-wrap="false">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <% artType.each do |artpiece| %>
              <div class="item" id="<%= artpiece.title.gsub(/\s+/, '') %>Carousel">
                <%= image_tag artpiece.image.url %>
              </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#Carousel<%= artType.first.type_of_art %>" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-indicators" href="#Carousel">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>

          <a class="right carousel-control" href="#Carousel<%= artType.first.type_of_art %>" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <% end %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script>
      var buttonClass;
      var title;
      var type;

      $(document).ready(function() {
        $("button").click(function() {
          $(".artpieces").hide(1000);
          buttonClass = $(this).attr("class");
          $("#" + buttonClass).show(1100);
        });

        $("img").click(function() {
          $(".cont").hide(1000);
          title = $(this).attr("id");
          type = $(this).attr("type");

          $("#container" + type).show(1100);
          $(".container").css({
                transition : 'background-color 1s ease-in-out',
                "background-color": "black"
            });
          $("#" + title + "Carousel").attr("class", "item active");
        });

        $('.carousel').carousel('pause');
      });
    </script>
  </body>
</html>
